.title {
    margin-left: 10rem;
}

.subtitle {
    margin-left: 12.4rem;
}

.subtitle2 {
    margin-left: 11rem;
}

.subtitle3 {
    margin-left: 8.5rem;
}

/* --------------------------------------- */

legend {
    margin-left: 30rem;
}

li {
    margin-left: 1rem;
}

.footer {
    margin-left: 40rem;
}